<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand">
    <a routerLink="/dashboard"> <img  src="../../assets/compass-Logo.png"></a>
  </a> <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/dashboard">Home</a>
      </li>

      <li class="nav-item">
        <nav>
          <a routerLink="/holidays">Holidays</a>
        </nav>
      </li>
      <li class="nav-item">
        <nav>
          <a routerLink="/login">Login</a>
        </nav>
      </li>
    </ul>
  </div>
</nav>
